<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/master-admin}">
    <head>
        <title>KK Coolwear - Detalhe do Pedido</title>
        <link th:href="@{/css/kkcoolwear.ecommerce.admin-geral.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/kkcoolwear.ecommerce.admin-geral.css" />
        <script th:src="@{/js/StatusPedidos.js}" src="../../static/js/StatusPedidos.js" type="text/javascript"></script>
        <link th:href="@{/css/geral.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/geral.css" />
        <style>
            .voltar:hover{
                cursor: pointer;
                transform: scale(1.5);
            }
            .centered {
                margin: 0 auto !important;
                float: none !important;
            }
            .textoDecorado{
                color: #969696;
                font-weight: bold;
                font-family: 'Merriweather', serif;
            }
            .sombraTexto{
                text-shadow: 0 0 black;
            }
        </style>
    <body>
        <div layout:fragment="conteudo" class="corpo">
            <p>&nbsp;</p>
            <div class='row'>
                <div class='col-lg-6 col-xs-8'>
                    <h2 class="textoDecorado">Detalhes do Pedido</h2>  
                    <h3 class="textoDecorado" th:text="'Cliente: ' +${detalheCompra[0].nome_cliente}">Cliente: </h3>
                </div>
                <div class='col-lg-6 col-xs-4'>
                    <div class='pull-right' style='margin-top: 20px; margin-right: 10px;'>
                        <a href="/kk-admin/status-pedidos">
                            <i class="glyphicon glyphicon-circle-arrow-left voltar" style="font-size:25px; color: #229bcc;" title="Voltar"></i> 
                        </a>
                    </div>
                </div>
            </div>
            <!--
                        <p>&nbsp;</p>
                        
                        <h2 th:text="'Protocolo: '+${detalheCompra[0].protocolo}">Protocolo: </h2>
                        <h3 th:text="'Valor total: '+${total}">Valor total: </h3>-->
            <div class="panel panel-info panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-xs-12">
                            <span style="font-weight: bold" th:text="'Protocolo: '+${detalheCompra[0].protocolo}"></span>
                        </div>
                        <div class="col-lg-3 col-md-9 col-xs-12">
                            <span style="font-weight: bold" th:text="'Total das compras: '+${total}"></span>
                        </div>
                    </div>
                </div>
                <table class="table no-more-tables table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Código do produto</th>
                            <th>Descrição</th>
                            <th>Quantidade</th>
                            <th>Valor total</th>
                        </tr>                
                    </thead>
                    <tbody>
                        <tr th:each="c : ${detalheCompra}">
                            <td th:text="${c.id_produto}"></td>
                            <td th:text="${c.nome_produto}"></td>
                            <td th:text="${c.quantidade}"></td>
                            <td th:text="${c.valorTotal}"></td>
                        </tr>
                    </tbody>
                </table>   
            </div>


        </div>        
    </body>
</html>
