<div class="row">
    <div class="col-lg-4 col-md-4">    
        <div class="flex-start" style='padding-left: 8%'>
            <a href="/" class="img-logo"></a>
        </div>                   
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="input-group txtPesquisa" style='padding-left: 8%'>
            <input type="text" id="txtPesquisa" class="form-control" placeholder="O que você procura?">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="flex-end contaner-icons">
                <div class="col-lg-4 col-md-2">
                    <a href="#" style="text-decoration: none;"
                       th:href="@{/loja/lista-pedidos?id=1}">
                        <span class="glyphicon glyphicon-list-alt flex-center icons" style="color: #191970;"></span>
                        <div class="flex-center">   
                            <span class="font-text">Pedidos</span> 
                        </div>                           
                    </a>
                </div>
                <div class="col-lg-4 col-md-2">
                    <a href="#" style="text-decoration: none;"
                       th:href="@{/loja/meus-dados?id=1}">
                        <span class="glyphicon glyphicon-user flex-center icons" style="color: #191970;"></span>
                        <div class="flex-center">
                            <span class="font-text">Minha conta</span>                         
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-2">
                    <a href="/checkout" style="text-decoration: none;">
                        <span class="glyphicon glyphicon-shopping-cart icons" style="color: #191970;"></span>                    
                    </a>
                    <span class="badge" th:text='${@carrinhoController.quantidadeItens}'></span>
                </div>  
            </div>
        </div>
    </div>           
</div>
<div class="menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="flex-center">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/loja">Home</a></li>
                        <li class=""><a href="/loja/feminino">Feminino</a></li>
                        <li class=""><a href="/loja/masculino">Masculino</a></li>
                        <li class=""><a href="/loja/ofertas">Ofertas</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</div>