<div class="col-lg-3">
    <img class="img-responsive" th:src="@{/imagens/logo-lg.png}"
         src="../../static/imagens/logo-lg.png"
         alt="E-commerce KK Coolwear"/>    
</div>
<div class="col-lg-6">
    <div class="input-group" style="padding: 10px;">
        <input type="text" class="form-control" placeholder="O que você procura?" />
        <span class="input-group-btn">
            <button class="btn btn-default">
                Procurar
            </button>
        </span>
    </div>
</div>
<div class="col-lg-3">
    <span class="glyphicon glyphicon-user"></span>
</div>