<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/master-admin}">
    <head>
        <title>KK Coolwear</title>
    </head>
    <body>
        <div layout:fragment="conteudo">
            <div class="header">
                <h1>Novo Produto</h1>
            </div>               
            <div class="col-lg-6">
                <form action="#" method="post" enctype="multipart/form-data"
                      th:action="cadastrar-produto">
                    <div class="form-group">
                        <label>Nome</label>
                        <input type="text" name="nome" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Descrição</label>
                        <textarea name="descricao" class="form-control" col="90" rows="4" required></textarea>
                    </div>
                    <div class="form-group">
                        <div class="form-inline">
                            <label>Coleção</label>
                            <select name="idColecao" class="form-control">
                                <option value="" selected>Selecione a coleção</option>
                                <option th:each="c : ${colecoes}" value="${c.id}" th:text="${c.nome}"></option>
                            </select>
                            <label>Tipo</label>
                            <select name="idMarca" class="form-control">
                                <option value="" selected>Selecione a marca</option>
                                <option th:each="m : ${marcas}" value="${m.id}" th:text="${m.nome}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Valor</label>
                        <input class="form-control" name="valor" typet="text" required />
                    </div>
                    <div class="form-group">
                        <label>Imagem do produto</label>
                        <input type="file" name="arquivo" />
                    </div>
                    <div class="text-right">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <a href="#" th:href="@{/kk-admin/listar-produtos}"
                           <span class="btn btn-default">Cancelar</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
