<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/master-admin}">
    <head>
        <title>KK Coolwear - Produtos</title>
        <link th:href="@{/css/kkcoolwear.ecommerce.admin-geral.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/kkcoolwear.ecommerce.admin-geral.css" />
    </head>
    <body>
        <div layout:fragment="conteudo" class="corpo">
            <h1>Produtos cadastrados</h1>
            <div class="text-right">
                <a href="#" th:href="@{/kk-admin/cadastrar-produto}"
                   <span class="btn btn-primary">Novo Produto</span>
                </a>
            </div>
            <p>&nbsp;</p>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Preço</th>
                        <th>Estoque</th>
                        <th>% Desconto</th>
                        <th>&nbsp;</th>
                    </tr>                
                </thead>
                <tbody>
                    <tr th:each="p : ${produtos}">
                        <td th:text="${p.nome}"></td>
                        <td th:text="${p.marca.nome}"></td>
                        <td th:text="${#numbers.formatCurrency(p.valor)}"></td>
                        <td th:text="${p.quantidadeTotalEstoque}"></td>
                        <td>
                            <span th:if="${p.possuiDesconto}" 
                                  th:text="${#numbers.formatDecimal(p.percDesconto/100, 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                        </td>
                        <td>
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <a href="#" title="Editar produto"
                                       th:href="@{/kk-admin/editar-cadastro-produto(id=${p.id})}">
                                        <span class="glyphicon glyphicon-pencil small"></span>
                                    </a>
                                </li>                                
                                <li>
                                    <a href="#" title="Manutenção de Desconto"
                                       th:href="@{/kk-admin/manutencao-desconto(id=${p.id})}">
                                        <span class="glyphicon glyphicon-tags small"></span>
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
