<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/master-loja}">
    <head>
        <title>Detalhes do Produto</title>
        <link th:href="@{/css/carrinho.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/carrinho.css" />
    </head>
    <body>
        <div layout:fragment="conteudo">
            <div class="container">
               
        </div>
    </body>
</html>
