<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/master-loja}">
    <head>
        <title>Detalhes do Produto</title>
        <link th:href="@{/css/carrinho.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/carrinho.css" />
        <link th:href="@{/css/geral.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/geral.css" />

        <script th:src="@{/js/carrinho.js}" src="../../static/js/carrinho.js" type="text/javascript"></script>
    </head>
    <body>
        <div layout:fragment="conteudo">
            <div class="container fundo">
                <div class="row">
                    <div class="table-responsive teste">
                        <table id="tabela-carrinho" class="table table-striped tabela-pedidos no-more-tables" style="width:100%">
                            <thead>
                            <th>ITEN(S) COLOCADO(S) NA CARRINHO</th>
                            <th>PREÇO UNITÁRIO</th>
                            <th>QUANTIDADE</th>
                            <th>SUBTOTAL</th>
                            </thead>
                            <tbody id="body-carrinho">
                                <tr th:each="item : ${carrinho.itens}" th:produtoID="${item.produto.id}">
                                    <td>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p >
                                                    <b>Produto: </b>  
                                                    <span th:text="${item.produto.nome}"></span>
                                                </p>
                                                <p>
                                                    <b>Descrição: </b>
                                                    <span th:text="${item.produto.descricao}"></span>
                                                </p> 
                                                <p>
                                                    <b>Tamanho: </b>
                                                    <span th:text="${item.tamanho}"></span>
                                                </p> 
                                                <p>
                                                    <b>Marca: </b>
                                                    <span th:text="${item.Produto.Marca.nome}"></span>
                                                </p> 
                                            </div>
                                        </div>          
                                    </td>                    
                                    <td>
                                        <div class="margem-valores valor">
                                            <p class="vlDesconto" th:valorDesconto="${item.produto.getValorComDesconto()}" th:if="${item.produto.getPossuiDesconto()}">
                                                De <span style="text-decoration: line-through;" th:text="${#numbers.formatCurrency(item.produto.valor)}"></span>
                                                <br />
                                                Por <span class="p-preco" th:text="${#numbers.formatCurrency(item.produto.getValorComDesconto())}"></span>
                                            </p>   
                                            <p class="vlNormal" th:valorNormal="${item.produto.valor}" th:if="${!item.produto.getPossuiDesconto()}" 
                                               th:text="${#numbers.formatCurrency(item.produto.valor)}">
                                               
                                            </p> 
                                        </div>
                                    </td>
                                    <td>
                                        <div class="margem-valores">
                                            <input class="quantidade" style="text-align: center;" type="number" name="quantity" min="1" max="6" th:value="${item.quantidade}">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="margem-valores sub-total">
                                            <p th:text="${#numbers.formatCurrency(item.valorItem)}"></p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                        <div class="alert alert-warning text-center" id="if-cart-empty"><strong>Carrinho vazio.</strong>
                            Por favor coloque produtos no carrinho para finalizar a compra.</div>
                        <div class="row text-right">
                            <h3 th:text="'Valor Total: ' +${#numbers.formatCurrency(carrinho.valorTotal)}"></h3>
                        </div>
                        <div th:if="${temEndereco}" class="row">
                            <p>Endereços</p>
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Logradouro</th>
                                        <th>Cidade</th>
                                        <th>UF</th>
                                        <th>CEP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${enderecos}">
                                        <td>
                                            <input name="endereco" type="radio" th:enderecoid="${item.id}" th:checked="${item.principal}" />
                                        </td>
                                        <td th:text="${item.logradouroNumero}"></td>
                                        <td th:text="${item.cidade}"></td>
                                        <td th:text="${item.uf}"></td>
                                        <td th:text="${item.cep}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div th:if="${temEndereco}" class="botao flex-end" style="justify-content: space-between;">
                            <div>
                                <a href="/">
                                    <button class="btn btn-info">Continuar comprando</button>
                                </a> 
                            </div>
                            <div>
                                <button id="finalizar" class="btn btn-success">Finalizar a compra</button>
                            </div>
                        </div>
                        <div th:if="${!temEndereco}" class="flex-end" style="justify-content: space-between;">
                            <p>Cadastre um endereço para concluir sua compra.</p>
                            <a href="#" class="btn btn-info"
                                th:href="@{/loja/cadastrar-endereco(id=1,eid)}">
                                Cadastrar endereço
                            </a>
                        </div>
                    </div>          
                </div>
            </div>
    </body>
</html>
