<!DOCTYPE html>
<html>
    <head>
        <title>Detalhes do Produto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <div class="miniaturas col-sm-2 col-md-2 col-lg-2">
                    <a href="#" class="thumbnail"><img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt="" /></a>
                </div>
                <div class="col-sm-6 col-md-10 col-lg-10">
                    <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                </div>
            </div>
            <div class="col-xs-7 col-md-6 col-lg-6">
                <div class="container-borda">
                    <p class="p-titulo">
                       Nome
                    </p>
                    <p class="p-descricao">
                        descricao
                    </p>
                    <p class="p-preco">
                        99,90
                    </p>
                </div>
            </div>
    </body>
</html>
