<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/master-loja}">
    <head>
        <title>KK Coolwear</title>
        <link th:href="@{/css/listaProdutos-loja.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/listaProdutos-loja.css" />
    </head>
    <body>
        <div layout:fragment="conteudo">
            <h1>Index loja</h1>
            <div class="container fundo">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#" th:href="@{/kk-admin/cadastrar-produto}"
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                
                
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#">
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#">
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
                
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#">
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#">
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#">
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#">
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#">
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#">
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
                
                
                
                
                
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="produto">
                        <center>
                            <img class="img-responsive" src="/imagens/produtos/p1-camiseta-reserva.jpg" alt=""/>
                        </center>
                        <p class="nome">Teste</p>
                        <p class="descricao">Mais um</p>
                        <p class="valor">99,90</p>
                        <div class="btn-comprar">
                            <a href="#">
                                <button type="button" class="btn btn-info">
                                    Detalhes
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                
                
            </div>
        </div>
    </body>
</html>