<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/master-loja}">
    <head>
        <link th:href="@{/css/pedidos.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/pedidos.css" />
        <title>Pedidos</title>
    </head>
    <body>
        <div layout:fragment="conteudo">
            <div class="container fundo">
                <p>&nbsp;</p>
                <h2>Pedidos</h2>
                <p>&nbsp;</p>
                <!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >-->
                <div class="panel panel-info panel-default">
                    <div class="panel-heading">Esta é sua lista com todos as suas compras</div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Protocolo</th>
                                <th>Data da Compra</th>
                                <th>Valor total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="p : ${pedidos}"> 
                                <td th:text="${p.protocolo}"></td>
                                <td th:text="${p.data_transacao}"></td>
                                <td th:text="${#numbers.formatCurrency(p.valorFinal)}"></td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div> 
                <!--</div>-->
            </div>
        </div>
    </body>
</html>
