<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/master-loja}">
    <head>
        <title>KK Coolwear - Detalhe do Pedido</title>
        <link th:href="@{/css/pedidos.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/pedidos.css" />
        <link th:href="@{/css/geral.css}"
              rel="stylesheet" type="text/css"
              href="../../static/css/geral.css" />
        <style>
            .voltar:hover{
                cursor: pointer;
                transform: scale(1.5);
            }
        </style>
    </head>
    <body>
        <div layout:fragment="conteudo" class="corpo">
            <div class="container fundo">
                <p>&nbsp;</p>
                <div class='row'>
                    <div class='col-lg-6 col-xs-8'>
                        <h2>Detalhes do Pedido</h2>  
                    </div>
                    <div class='col-lg-6 col-xs-4'>
                        <div class='pull-right' style='margin-top: 20px; margin-right: 10px;'>
                            <a href="/loja/lista-pedidos">
                                <i class="glyphicon glyphicon-circle-arrow-left voltar" style="font-size:25px; color: #229bcc;" title="Voltar"></i> 
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-xs-12">
                                <span style="font-weight: bold" th:text="'Protocolo: '+${pedido[0].protocolo}"></span>
                            </div>
                            <div class="col-lg-3 col-md-9 col-xs-12">
                                <span style="font-weight: bold" th:text="'Total das compras: '+${total}"></span>
                            </div>
                        </div>
                    </div>
                    <table class="table no-more-tables table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Descrição</th>
                                <th>Tamanho</th>
                                <th>Quantidade</th>
                                <th>Valor Unitário</th>
                                <th>Valor total</th>
                            </tr>                
                        </thead>
                        <tbody>
                            <tr th:each="p : ${pedido}">
                                <td th:text="${p.nome_produto}"></td>
                                <td th:text="${p.descricao}"></td>
                                <td th:text="${p.tamanho}"></td>
                                <td th:text="${p.quantidade}"></td>
                                <td th:text="${p.vl_unitario}"></td>
                                <td th:text="${p.vl_item}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>        
    </body>
</html>
